footer{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;

    width: 100%;
   
    padding-top: 40px;
    padding-bottom: 40px;
}
footer .first-level{
    display: flex;
    line-height: 30px;
}
.footer-block{
    width: 50%;
    text-align: right;
}
.informers-block h5{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 3%;
}
.footer-block h5{
    font-size: 1.9em;
    font-weight: bold;
    padding-bottom: 3%;

}
.footer-block p{
    font-size: 1.4em;
    
}
.footer-block .phone-number{
    font-size: 1.4em;
 
}
@media (max-width: 600px){
    footer{
        display: block;
    }
    .footer-block{
        width: 100%;
        text-align: left;
    }
}